.header, .content, .button, #play, #pause, #day, #night, #slider-handle{
    -webkit-transition: background 0.4s, color 0.4s; /* "background" seemingly does not work with android 4.1.2, but the performance was crap anyway... */
    -moz-transition: background 0.4s, color 0.4s;
    -o-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
}
body.nightmode #day {display: block;}
body.nightmode #night {display: none;}

body.nightmode .content{
    background: #000 url(../img/webinosBgDarkGray.png) 50% 50% no-repeat;
    background-size: 200px;
    color: #fff;
}
body.nightmode .header {
    color: #fff;
}
body.nightmode .button {
}

body.nightmode .arr-up, body.nightmode .arr-down, body.nightmode .arr-left, body.nightmode .arr-right,
body.nightmode #play, body.nightmode #pause, body.nightmode .prev, body.nightmode .next,
body.nightmode #slider-handle {
    background-image: url('../img/controls.png');
}
body.nightmode #day, body.nightmode #night {
    background-image: url('../img/controls2.png');
}

body.nightmode .selectArrow, body.nightmode .selectArrow_file{
    color: #000000;
}

body.nightmode .selected, body.nightmode .selected_file {
    color: #ffffff;
    background: #202020; 
    border: 1px solid #606060;
}

body.nightmode .selectOptions, body.nightmode .selectOptions_file{
    color: #ffffff;
    background: #202020;
    border: 0px;
}

body.nightmode #slider-right{
    background: #606060;
}

body.nightmode .stop_file{
    color: #000000;
} 


body.nightmode #filesPanel{
    border-right: 1px solid #0079C2;
}

body.nightmode #filesPanel_hidden{
    background: #202020;
}

body.nightmode #filesPanel_shown{
    background: #202020;
    color: #0079C2;
    font-weight:bold;   
}

body.nightmode .selectOption_file{
    background: #202020;
}

body.nightmode .selectOption_file:hover{
    background: #0079C2;
}

body.nightmode ::-webkit-scrollbar{
    background: #202020;
    width: 0px;
}